<h2>Results</h2>
<hr>

<h3>Term matches</h3>

<form action="/authority_lookup_deliver" method="post">
  <button class="button" type="submit">Download lookup results</button>
</form>

<p>
<hr>
<a href="/authority_lookup_index"><button class="button-return">Submit another term list</button></a>
<a href="/"><button class="button-return">Return to main menu</button></a>
