<h2>Results</h2>
<hr>

<h3>Validation report</h3>
<p>
<%= @cocina_validator_table %>
<p>
<%= @cocina_validator_download_display %>
<p>
<hr>
<a href="/cocina_description_validator_index"><button class="button-return">Submit another JSON file</button></a>
<a href="/"><button class="button-return">Return to main menu</button></a>
