<h2>Results</h2>
<hr>

<form action="/compile_mods_deliver" method="post">
  <button class="button" type="submit">Download compiled MODS file</button>
</form>

<p>
<hr>
<a href="/compile_mods_index"><button class="button-return">Submit another set of MODS files</button></a>
<a href="/"><button class="button-return">Return to main menu</button></a>
