<h1>Stanford Libraries metadata tools</h1>
<hr>
<h3><a href="/rps_validator_index">Replayable spreadsheet validator</a></h3>
<p>Check for common errors in the replayable spreadsheet that may prevent it loading successfully into Argo.</p>
<hr>
<h3><a href="/transform_to_rps_index">Transform an existing spreadsheet into a replayable spreadsheet</a></h3>
<p>Using a mapping file, generate a replayable spreadsheet based on existing data.</p>
<hr>
<h3><a href="/virtual_object_manifest_index">Generate a virtual object manifest</a></h3>
<p>Generate a manifest for the combinator from a list of objects.</p>
<hr>
<h3><a href="/reverse_modsulator_index">Generate a replayable spreadsheet from MODS XML</a></h3>
<p>Transform a zip file of MODS records into a replayable spreadsheet.</p>
<hr>
<h3><a href="/transform_to_datacite_index">Transform a specialized metadata template to DataCite XML</a></h3>
<p>Generate DataCite XML from a specialized version of the replayable spreadsheet (may be downloaded via the tool).</p>
<hr>
<h3><a href="/authority_lookup_index">Look up LCNAF authorities via the LD4P QA server (BETA)</a></h3>
<p>Search for terms in a cached copy of the LC Name Authority File, returning authorized forms and URIs.</p>
<hr>
<p>
<p>

<a href="/clear_cache"><small>Clear all cached files (ADMIN USE ONLY)</small></a>
