<html>
  <style>
    body {
      padding-top: 2em;
      padding-left: 20px;
      padding-bottom: 40px;
    }
    table {
      border: 1px solid black;
      border-collapse: separate;
      text-align: top;
    }
    table th, table td {
      border: 1px solid black;
      padding: 15px;
      vertical-align: top;
    }
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 15px;
      border-radius: 4px;
    }
    .button-return {
      background-color: #008CBA; /* Red */
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 20px;
      border-radius: 4px;
    }
  </style>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
