<html>
  <style>
    body {
      padding-top: 2em;
      padding-left: 20px;
      padding-bottom: 40px;
    }
    table {
      border: 1px solid black;
      border-collapse: separate;
      text-align: top;
    }
    table th, table td {
      border: 1px solid black;
      padding: 15px;
      vertical-align: top;
    }
    .cocina {
      width: 80%;
      min-height: 200px;
      display: inline-block;
      text-align: left;
      padding: 5px;
      border: 1px solid #cccccc;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 15px;
      border-radius: 4px;
    }
    .button-return {
      background-color: #008CBA; /* Red */
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 20px;
      border-radius: 4px;
    }
    textarea {
      vertical-align: top;
      width: 90%;
    }

  </style>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
    <script type="text/javascript">
      $(document).ready(function(){

        if ($('#mods').length > 0) {
          var editor = ace.edit("mods");
          editor.setTheme("ace/theme/monokai");
          editor.getSession().setMode("ace/mode/json");
          $('#mods').css('fontSize', '16px');

          var textarea = $('textarea[name="cocina"]');
          textarea.hide();
          editor.getSession().setValue(textarea.val());

          editor.getSession().on('change', function(){
            textarea.val(editor.getSession().getValue());
          });
        }
      });
    </script>
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>
