<h2>Results</h2>
<hr>

<h3>Validation report</h3>
<p>
<%= @validator_table %>
<p>
<%= @validator_download_display %>
<p>
<hr>
<a href="/rps_validator_index"><button class="button-return">Submit another replayable spreadsheet</button></a>
<a href="/"><button class="button-return">Return to main menu</button></a>
