<h2>Results</h2>
<hr>

<form action="/transform_spreadsheet_deliver" method="post">
  <button class="button" type="submit">Download replayable spreadsheet</button>
</form>

<p>
<hr>
<a href="/transform_spreadsheet_index"><button class="button-return">Submit another set of mapping and metadata files</button></a>
<a href="/"><button class="button-return">Return to main menu</button></a>
