<h1>Transform metadata from another source into the replayable spreadsheet</h1>
<hr>
<h2>Transform a file</h2>

<form action="/transform_to_rps_process" method="post" enctype="multipart/form-data">
  <h3>Select the metadata file</h3>
  <input type="file" name="datafile">
  <p>
  <h3>Select the mapping file</h3>
  <input type="file" name="mapfile">
  <p>
  <button class="button" type="submit">Submit the files</button>
</form>

<hr>

<h2>Guidelines</h2>

<p>Transforms a metadata file into a replayable spreadsheet based on rules defined in a mapping file.</p>

<p>The metadata file should be an Excel spreadsheet or CSV file, with the headers in the first row. The mapping file should be an Excel spreadsheet or CSV file.</p>

<p>The mapping syntax allows four different kinds of transformation.</p>
<ol>
  <li><b>Simple mapping:</b> The value is transferred as-is to a field in the output data.</li>
  <li><b>Constant data:</b> A value given in the mapping itself is transferred to a field in the output data, with no reference to the input data.</li>
  <li><b>Mapping as variables:</b> Variables are given as the input header in curly brackets. This may be used to insert a mapped value into a constant string (<code>{Dimensions} mm</code>) or to combine two or more input fields into a single output field (<code>{Dimensions} {Units}</code>).</li>
  <li><b>Conditional output:</b> This works in conjunction with one of the three methods above. It states a dependency between two fields, such as that the variable mapping <code>{Dimensions} mm</code> should not be applied if the <code>Dimensions</code> input field does not have a value. This prevents the output <code> mm</code> from displaying when the <code>Dimensions</code> numeric value is absent.</li>
</ol>


<h3>Mapping syntax</h3>

<p>The mapping file contains four columns (three if no conditionals are used).<p>

<p>The first column gives the target field -- the field that data will be mapped to in the output (i.e., the column headers in the replayable spreadsheet). Values of this column must be unique.</p>

<p>The second column indicates the source of the data. Its exact syntax depends on the transformation type, as described below. If this column is left blank, the field named in the first column will be created in the output, but will not contain any data.</p>

<ul>
  <li><b>Simple mapping:</b> the second column contains the header of the column in the input that contains the data.</li>
  <li><b>Constant data:</b> the second column contains the data string to write to output.</li>
  <li><b>Mapping as variables:</b> the second column contains a statement including variables, which are given as input headers in curly brackets.</li>
</ul>

<p>The third column names the transformation type. If the second column is blank, this column should be blank as well. Otherwise, enter the value as given below.</p>
<ul>
  <li><b>Simple mapping:</b> <code>map</code></li>
  <li><b>Constant data:</b> <code>string</code></li>
  <li><b>Mapping as variables:</b> <code>complex</code></li>
</ul>

<p>The fourth column is optional and states a condition that must be met for the rule to generate output. The value of this column is the header of the input column that must have a value for the rule to be applied. If the given input field does not have a value, a blank string is output instead.</p>

<h3>Example</h3>

<h4>Uploaded data file</h4>
<img src="images/source_file.jpg"</img>

<h4>Uploaded mapping file</h4>
<img src="images/map_file.jpg"</img>
<p>
<ul>
  <li>The headers <code>druid</code> and <code>sourceId</code> will appear in the generated replayable spreadsheet, even though there is nothing to match them in the source data.</li>
  <li>The values in <code>Title</code> and <code>Author</code> will map to <code>ti1:title</code> and <code>na1:namePart</code> respectively.</li>
  <li>The value <code>author</code> will map to <code>ro1:roleText</code> only if <code>Author</code> has a value.</li>
  <li>The values in <code>Dimensions in mm</code> will map to <code>ph:extent</code> with <code> mm</code> appended only if a value is present.</li>
</ul>
<p>

<h4>Replayable spreadsheet produced for download</h4>
<img src="images/replayable_spreadsheet.jpg"</img>

<p>
<hr>
<a href="/"><button class="button-return">Return to main menu</button></a>
