<h2>Results</h2>
<hr>

<form action="/transform_to_datacite_xml_deliver" method="post">
  <button class="button" type="submit">Download DataCite XML</button>
</form>

<p>
<hr>
<a href="/transform_to_datacite_xml_index"><button class="button-return">Submit another spreadsheet</button></a>
<a href="/"><button class="button-return">Return to main menu</button></a>
