<h2>Results</h2>
<hr>

<h3>Manifest</h3>
<p>
<%= @manifest_download_display %>

<p>
<hr>
<h3>Errors</h3>
<%= @error_table %>

<p>
<hr>
<h3>Statistics</h3>
<%= @stats_table %>
<p>
<hr>
<a href="/virtual_object_manifest_index"><button class="button-return">Submit another file</button></a>
<a href="/"><button class="button-return">Return to main menu</button></a>
