<h2>Results</h2>
<hr>

<p>
<hr>
<h3>Errors</h3>
<%= @error_table %>

<p>
<hr>
<a href="/virtual_object_manifest_index"><button class="button-return">Submit another file</button></a>
<a href="/"><button class="button-return">Return to main menu</button></a>
